*{margin:0px;padding:0px;}
#com-area-topnav{width:1263px;height:30px;background:#f2f1f1;}
#com-area-topnav p{font-size:12px;float:left;margin-top:9px;margin-left:40px;}
#com-area-topnav p span{color:#fe0080;}
#com-area-topnav .login{float:left;margin-left:10px;margin-top:6px;}
#com-area-topnav .register{float:left;margin-left:9px;margin-top:9px;font-size:12px;text-decoration:none;color:#3386c7;}
#com-area-topnav .register span{color:#db1515;}
#com-area-topnav .right-nav{float:left;margin-left:296px;margin-top:9px;}
#com-area-topnav li{float:left;list-style-type:none;font-size:12px;height:12px;border-right:1px solid #b8c0c0;}
#com-area-topnav li a{text-decoration:none;color:#333333;}
#com-area-topnav .a1{width:77px;background:url(../img/down-1.png) no-repeat;background-position:57px 4px;}
#com-area-topnav .a2{width:53px;padding-left:26px;background:url(../img/email-1.png) no-repeat;background-position:9px 1px;}
#com-area-topnav .a3{width:72px;padding-left:8px;}
#com-area-topnav .a3 a{color:#ff3300;}
#com-area-topnav .a4{width:76px;padding-left:8px;background:url(../img/down-1.png) no-repeat;background-position:64px 4px;}
#com-area-topnav .a5{width:50px;height:15px;padding-left:26px;background:url(../img/square-1.png) no-repeat;background-position:9px 0px;border-right:none;}
#com-area-topnav .a6{width:56px;padding-left:8px;border-left:1px solid #b8c0c0;}
#com-area-topnav .a7{width:36px;padding-left:8px;border-right:none;}
#com-area-topnav .a7 a{color:#ff3300;}
#com-area-header{width:1263px;height:92px;background:url(../img/aokang-1.png) no-repeat;background-position:41px 22px;}
#com-area-header img{margin-left:5px;margin-top:10px;float:left;}
#com-area-header li{font-size:14px;color:#ff0000;list-style-type:none;}
#com-area-header .phoneak{float:left;margin-left:366px;margin-top:16px;}
#com-area-header .wrap{height:100%;width:535px;float:left;}
#com-area-header .text{float:left;margin-left:72px;margin-top:22px;border:3px solid #cf000d;width:353px;height:32px;background:url(../img/magnifier-1.png) no-repeat;background-position:6px 9px;padding-left:27px;font-size:14px;color:#a9a9a9;}
#com-area-header .search{float:left;height:38px;width:77px;background:#cf000d;margin-top:22px;line-height:38px;text-align:center;color:#ffffff;font-weight:bold;text-decoration:none;}
#com-area-header .shop{width:99px;height:33px;float:left;margin-left:90px;margin-top:25px;border:1px solid #e5e5e5;font-size:14px;text-decoration:none;color:#000000;line-height:33px;padding-left:59px;font-weight:blod;background:url(../img/shop-1.png) no-repeat #f0eff0;background-position:17px 7px;}
#com-area-header .shop:hover{background:url(../img/shop-2.png) no-repeat #c80000;background-position:17px 7px;color:#ffffff;}
#com-area-header .category{float:left;margin-left:72px;margin-top:7px;}
#com-area-header .category li {float:left;padding-right:11px;}
#com-area-header .category li a{color:#666666;text-decoration:none;font-size:12px;}
#com-area-header .category .a1{padding-right:18px;}
#com-area-header .category .a2 a{color:#e53333;}
#headNav{width:1263px;height:38px;background:#3c4251;}
#headNav .wrap{float:left;margin-left:40px;}
#headNav li{float:left;height:100%;list-style-type:none;padding-left:20px;padding-right:20px;}
#headNav li a{font-size:12px;color:#ffffff;text-decoration:none;line-height:38px;}
#headNav .b1{width:190px;background:url(../img/down-arrow-1.png) no-repeat #ff481b;background-position:178px 16px;padding-right:0px;}
#headNav .b2{background:#292d37;}
#headNav .b8{margin-left:372px;}
#headNav .b3:hover,#headNav .b4:hover,#headNav .b5:hover,#headNav .b6:hover,#headNav .b7:hover,#headNav .b8:hover{background:#292d37;}
#container{width:1210px;height:auto;margin:0 auto;}
#container span{display:block;width:230px;height:367px;padding:3px;border:1px solid #dddddd;float:left;display:inline;}
#container span img{width:226px;height:226px;float:left;border:none;}
#container span a{float:left;background:red;font-size:16px;height:30px;width:150px;color:#ffffff;line-height:30px;text-align:center;margin-left:30px;margin-top:20px;border-radius:10%;cursor:pointer;}
#button{width:1210px;height:40px;margin:30px auto;overflow:hidden;}
#button span.root{display:block;width:180px;height:40px;overflow:hidden;margin:0 auto;margin-top:10px;}
#button span span{display:block;width:28px;height:28px;overflow:hidden;border:1px solid #ccc;float:left;margin-left:5px;display:inline;line-height:30px;color:#555;text-align:center;cursor:pointer;}
#guide{width:1263px;height:336px;background:#f0f0f0;}
#guide .g1{height:336px;;width:387px;border-left:1px solid #e0e0e0;border-right:1px solid #e0e0e0;margin-left:40px;float:left;}
#guide .g1 li{list-style-type:none;height:43px;margin-left:18px;}
#guide .g1 h6{height:34px;font-size:16px;color:#ff7622;padding-top:14px;margin-left:18px;}
#guide .g1 .a{float:left;font-size:14px;font-weight:bold;color:#666666;width:387px;margin-top:4px;margin-left:50px}
#guide .g1 .b{float:left;font-size:12px;color:#666666;margin-top:4px;margin-left:50px;}
#guide .g1 .l1{background:url(../img/zhengpin1-1.png) no-repeat left center;}
#guide .g1 .l2{background:url(../img/zhengpin2-1.png) no-repeat left center;margin-top:20px}
#guide .g1 .l3{background:url(../img/zhengpin3-1.png) no-repeat left center;margin-top:20px;}
#guide .g1 .l4{background:url(../img/zhengpin4-1.png) no-repeat left center;margin-top:20px;}
#guide .g2{float:left;width:490px;height:336px;border-right:1px solid #e0e0e0}
#guide .g2 li{list-style-type:none;font-size:12px;color:#666666;margin-top:10px;}
#guide .g2 h6{height:34px;font-size:16px;color:#ff7622;padding-top:14px;margin-left:18px;}
#guide .g2 ul{float:left;}
#guide .g2 .u1{margin-left:20px;}
#guide .g2 .u2{margin-left:66px;}
#guide .g2 .u3{margin-left:56px;}
#guide .g2 .a{margin-top:8px;font-weight:bold;}
#guide .g2 .b{margin-top:42px;font-weight:bold;}
#guide .g3{width:320px;height:336px;border-right:1px solid #e0e0e0;float:left;}
#guide .g3 h6{height:34px;font-size:16px;color:#ff7622;padding-top:14px;margin-left:18px;}
#guide .g3 li{list-style-type:none;}
#guide .g3 span{float:left;font-size:12px;color:#666666;}
#guide .g3 .a{font-weight:bold;width:229px;margin-left:70px;}
#guide .g3 .b{width:200px;margin-left:70px;}
#guide .g3 .f1{margin-left:70px;}
#guide .g3 .f2{margin-left:10px;}
#guide .g3 a{float:left;}
#guide .g3 .c1{margin-left:70px;}
#guide .g3 .d{color:#fc6652;text-decoration:none;}
#guide .g3 .u1 .l1{background:url(../img/ewm1-1.png) no-repeat 0 0;height:75px;}
#guide .g3 .u1 .l2{background:url(../img/ewm2-1.png) no-repeat 0 0;height:75px;margin-top:15px;}
#guide .g3 .u2 li{float:left;width:140px;}
#guide .g3 .u2 .l3{background:url(../img/txwb-1.png) no-repeat left center;}
#guide .g3 .u2 .l4{background:url(../img/xlwb-1.png) no-repeat left center;}
#guide .g3 .u2 .c{margin-left:50px;}
#guide .g3 .u2 .e{margin-left:50px;width:68px;height:18px;background:#f5f5f5;text-align:center;line-height:18px;border:1px solid #d3d6d7;color:#555555;text-decoration:none;font-size:12px;margin-top:5px;}
#guide .g3 .u1{float:left;margin-left:20px;width:280px;height:186px;border-bottom:1px solid #e3e3e3;}
#guide .g3 .u2{margin-left:20px;margin-top:20px;float:left;}
#copyRight{height:108px;width:1263px;background:url(../img/law-1.png) no-repeat 1180px 40px;}
#copyRight ul{float:left;margin-left:40px;}
#copyRight .u1{margin-top:15px;height:22px;width:1200px;border-bottom:1px solid #e3e3e3;}
#copyRight .u1 li{float:left;list-style-type:none;font-size:12px;color:#555555;margin-right:12px;}
#copyRight .u2{float:left;margin-top:15px;width:1223px;}
#copyRight .u2 li{list-style-type:none;float:left;list-style-type:none;font-size:12px;color:#555555;margin-right:12px;border-right:1px solid #cccccc;padding-right:10px;}
#copyRight .u2 .l8{border-right:none;}
#copyRight span{float:left;font-size:12px;color:#666666;margin-left:40px;margin-top:12px;}
#copyRight a{float:left;font-size:12px;color:#cccccc;margin-top:12px;text-decoration:none;}
#panel{position:fixed;width:78px;height:364px;top:25%;left:0px;display:none;}
#panel li{list-style-type:none;font-size:12px;height:30px;line-height:30px;width:78px;text-align:center;background:#ffffff;}
#panel li a{text-decoration:none;color:#333333;}
#widget{height:272px;width:60px;background:#e4e2e5;position:fixed;top:25%;right:0;border:1px solid black;display:none;overflow:hidden;}
#widget  a{float:left;text-decoration:none;}
#widget .a1{height:27px;border-bottom:1px solid #e6e6e6;line-height:27px;font-size:10px;margin-left:3px;color:#848484;}
#widget .a2{height:27px;border-bottom:1px solid #e6e6e6;line-height:27px;font-size:10px;color:#848484;}
#widget .a3{height:16px;width:52px;font-size:10px;color:#303433;margin-top:4px;margin-left:3px;padding-top:44px;text-align:center;background:url(../img/penguin-1.jpg) no-repeat 12px 5px #ffffff;}
#widget .a4{height:16px;width:52px;font-size:10px;color:#303433;margin-top:4px;margin-left:3px;padding-top:44px;text-align:center;background:url(../img/award-1.jpg) no-repeat 12px 5px #ffffff;}
#widget .a5{height:16px;width:52px;font-size:10px;color:#303433;margin-top:4px;margin-left:3px;padding-top:44px;text-align:center;background:url(../img/code-1.jpg) no-repeat 10px 5px #ffffff;}
#widget .a6{height:41px;width:52px;margin-top:4px;margin-left:3px;background:url(../img/uarrow-1.jpg) no-repeat 12px 12px #ffffff;}
#fimg{position:fixed;top:175px;right:58px;display:none;}
